<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Edit Entry</title>
    <!--external CSS link -->
    <link rel="stylesheet" href="/CSS/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/15578398e0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="middle-section">
      <!-- Nav bar -->
      <nav class="blue-sections">
        <h1 class="logo"><a href="/">Southern Paiute Dictionary</a></h1>
        <input type="checkbox" name="menu" id="menu" />
        <label for="menu" class="hamburger-label">
          <i class="fa-solid fa-bars hamburger"></i>
        </label>
        <div class="menu-container">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/alphabet">Alphabet</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </nav>

      <section class="content-body">
        <section class="body">
          <!-- Instructions -->
          <section class="page-intro">
            <p>Input the following for a Paiute word, sentence, or phrase.</p>
          </section>
          <!-- Form -->
          <section>
            <% if(!!result){ %>
            <section class="results">
              <form
                action="/updateEntry"
                method="POST"
                enctype="multipart/form-data"
              >
                <section class="inputSection">
                  <span>Word, phrase, or sentence</span>
                  <input
                    type="text"
                    placeholder="Input word, phrase, or sentence."
                    name="wordInput"
                    value="<%=result.wordInput%>"
                  />
                </section>
                <section class="inputSection">
                  <span>IPA spelling</span>
                  <input
                    type="text"
                    placeholder="Input IPA version of input."
                    name="phoneticInput"
                    value="<%=result.phoneticInput%>"
                  />
                </section>
                <section class="inputSection">
                  <span>Grammatical Structure</span>
                  <input
                    type="text"
                    placeholder="Put type of grammatical structure."
                    name="grammaticalInput"
                    value="<%= result.grammaticalInput %>"
                  />
                </section>
                <section class="inputSection">
                  <span>Translation</span>
                  <input
                    type="text"
                    placeholder="Input translation."
                    name="translationInput"
                    value="<%= result.translationInput %>"
                  />
                </section>
                <section class="inputSection">
                  <span>Example</span>
                  <input
                    type="text"
                    placeholder="Input example."
                    name="exampleInput"
                    value="<%= result.exampleInput %>"
                  />
                </section>
                <section id="audioSection" class="inputSection">
                  <span>Audio</span>
                  <input
                    type="file"
                    placeholder="Upload audio file."
                    name="audio"
                    id="audioButton"
                    value="<%= result.audioInput %>"
                  />
                </section>
                <input type="submit" />
              </form>
            </section>
            <% } %>

            <!-- may get rid of the following -->
            <p id="data"></p>
          </section>
        </section>
      </section>

      <!-- Footer -->
      <footer>
        <section class="footer-container">
          <h3 id="copyright">© 2021 - Cedar Band of Paiutes</h3>
          <h3 id="attribution">
            Created By<a href="https://ruthreed.dev">Ruth Reed</a>
          </h3>
        </section>
      </footer>
    </section>
  </body>
</html>

<!-- if widget doesn't work, documentation is here: https://cloudinary.com/documentation/upload_widget -->
