<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search results</title>

    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/15578398e0.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <!-- Body -->
  <body>
    <section class="middle-section">
      <!-- Nav bar -->
      <%- include('partials/navbar') %>

      <section class="content-body content-body-search">
        <!-- Body of page -->
        <a href="/" class="back-button">
          <i class="fas fa-arrow-circle-left fa-3x"></i>
        </a>
        <section class="h1Box">
          <h1 id="bodyH1">Search results for '<%= searchQuery %>'</h1>
        </section>
        <section class="results">
          <% if(searchQueryResults && searchQueryResults.length){ %>
          <ul>
            <% for(let result of searchQueryResults) { %>
            <li>
              <a href="/word/<%= result._id %>" class="clickHere"
                ><strong><%= result.wordInput %></strong></a
              >
              <span><%= result.translationInput %><br /></span>
            </li>
            <% } %>
          </ul>
          <% } else { %>
          <span
            >No Results for search: <strong> <%= searchQuery %></strong></span
          >
          <% } %>
          <p>No more search results could be found.</p>
        </section>
      </section>

     <!-- Footer -->
     <%- include('partials/footer') %>
    </section>
  </body>
</html>
