<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search results</title>

    <link rel='stylesheet' href='../CSS/searchResults.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9213c82d7b.js" crossorigin="anonymous"></script> 
</head>

<!-- Body -->
<body>
    <!-- Nav bar -->
    <nav class='blue-sections'>
        <h1>Southern Paiute Dictionary</h1>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/about'>About Us</a></li>
            <li><a href="/alphabet">Alphabet</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <!-- Body of page -->
    <a href = '/'>
        <i class="fas fa-arrow-circle-left fa-3x"></i>
    </a>
    <section class='h1Box'>
        <h1 id='bodyH1'>Search results for '<%= searchQuery %>'</h1>
    </section>
    <section class='results'
        <% if(searchQueryResults && searchQueryResults.length){ %>
            <ul>
            <% for(let result of searchQueryResults) { %>    
                <li>
                <strong><%= result.wordInput %></strong>
                <span><%= result.translationInput %><br></span>

                <!-- has an additional / because it's a param, not a query -->
                <a href="/word/<%= result._id %>" class='clickHere'>Click here to see more.</a>
                </li>
            <% } %>
            </ul>
        <% } else { %>
            <span>No Results for search: <strong><%= searchQuery %></strong></span><% } %>
        <p>No more search results could be found.</p>
    </section>

    <!-- Footer -->
        <footer>
            <section class='footer-container'>
                <h3>© 2021 - Cedar Band of Paiutes</h3>
                <h3 id='attribution'>Created By<a href='https://ruthreed.dev/'>Ruth Reed</a></h3>
            </section>
        </footer>
</body>
</html>