<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <link rel='stylesheet' href='../CSS/aboutPage.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9213c82d7b.js" crossorigin="anonymous"></script> 
</head>

<!-- Body -->
<body>
    <!-- Nav bar -->
    <nav class='blue-sections'>
        <h1>Southern Paiute Dictionary</h1>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/about'>About Us</a></li>
            <li><a href="/alphabet">Alphabet</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <!-- Word info section -->
    <section>
        <% if(searchQueryResults){ %>   
            <section>
                <h1><%= `${searchQueryResults.wordInput}` %></h1>
                <button><i class="fas fa-volume-up"><%= `${searchQueryResults.audioInput}` %></i></button>
            </section>
            <section>
                <span><%= `${searchQueryResults.grammaticalInput}` %></span>
                <section class='translation'>
                    <h2>Translation</h2>
                    <span><%= `${searchQueryResults.translationInput}`%></span>
                </section>
                <section class="example">
                    <h2>Example</h2>
                    <span><%= `${searchQueryResults.exampleInput}` %></span>
                </section>
                <section class='more'>
                    <h2>See More</h2>
                    <span><%= %></span>
                    <span><%= %></span>
                    <button>More</button>
                </section>
            </section>
            <% } %>
        <% } else { %>
            <span>No entry found. <strong><%= searchQuery %></strong></span><% } %>
        </section>
    <section class='wordInfo'>
        
    </section>

    <!-- Footer -->
        <footer>
            <section class='footer-container'>
                <h3>© 2021 - Cedar Band of Paiutes</h3>
                <h3 id='attribution'>Created By<a href='https://ruthreed.netlify.app/'>Ruth Reed</a></h3>
            </section>
        </footer>
</body>
</html>