<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>

    <link rel='stylesheet' href='../CSS/wordPage.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9213c82d7b.js" crossorigin="anonymous"></script> 
</head>

<!-- Body -->
<body>
    <!-- Nav bar -->
    <nav class='blue-sections'>
        <h1>Southern Paiute Dictionary</h1>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/about'>About Us</a></li>
            <li><a href="/alphabet">Alphabet</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <!-- Word info section -->
    <!-- Need to add functionality to back button to make it go back to the search results. Right now it goes to the search results, but doesn't remember the search query. -->
    <a href = '/searchResults'>
        <i class="fas fa-arrow-circle-left fa-3x"></i>
    </a>
    <section class = 'entry'>
        <% if(searchQueryResults){ %>   
            <section class='wordAndAudio'>
                <h1><%= searchQueryResults.wordInput %></h1>
                <audio controls>
                    <source src="<%= searchQueryResults.audioInput.url %>" type='audio/wav'>
                </audio>
            </section>
            <section class='entryData'>
                <section class='phoneticAndGrammaticalInput'>
                    <span id ='phonetic'><%= searchQueryResults.phoneticInput %></span>
                    <span id='grammar'><%= searchQueryResults.grammaticalInput %></span>
                </section>
                <section class='translation'>
                    <h2>Translation</h2>
                    <span><%= searchQueryResults.translationInput %></span>
                </section>
                <!-- Need to add option of if(!searchQueryResults.exampleInput){
                    <span> No additional example available. </span> 
                } 
                But I can't figure it out with EJS yet.-->
                <section class="example">
                    <h2>Example</h2>
                    <span><%= searchQueryResults.exampleInput %></span>
                </section>
                <!-- Need to add functionality for looking up related terms. -->
                <section class='more'>
                    <h2>See More</h2> 
                    <!-- <span><%= %></span>
                    <span><%= %></span> -->
                    <button>More</button>
                </section>
            </section>
        <% } %>
    </section>
    <form method="put" action="/update"><button>Update Entry</button>
    <!-- Footer -->
        <footer>
            <section class='footer-container'>
                <h3>© 2021 - Cedar Band of Paiutes</h3>
                <h3 id='attribution'>Created By<a href='https://ruthreed.netlify.app/'>Ruth Reed</a></h3>
            </section>
        </footer>
</body>
</html>